.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.categorySelectionButtonContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  justify-content: space-evenly;
}

.categoryButton {
  
  background-color: green;
  margin: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  flex-grow: 1;
  &:hover {
    background-color: darken(green, 10%);
    cursor: pointer;
  }
  &.selected {
    background: orange;
  }
  @media (min-width: 768px) {
    width: 30vw;
  }
  @media (min-width: 1440px) {
    width: 20vw;
  }

  
}
.ResponseContainer {
  height: 40vh;
  background-color: pink;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: stretch;

}
.loadingResponses {
  
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loadingText {
  margin-top: 40px;
}
.ResponseDisplay {
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ResponseDisplay__Header {
  font-size: 28px
}


